/* main text color #212121 */
/* secondary text color #757575 */
/* blue #2196F3 */
/* white #FFFFFF */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --blue-color: #2196F3;
    --white-color: #FFFFFF
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

/* Header styles */

.logo-web {
    color: var(--blue-color);
}

.logo {
    color: #000000
}

.logo:hover,
.logo:focus {
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--blue-color);
}

.kontacts .link {
    color: var(--primary-text-color);
}

.kontacts .link:hover,
.kontacts .link:focus {
    color: var(--blue-color);
}

/* Hero styles */

.hero,
.footer {
    background-color: #2F303A;
}

.hero-title{
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
}

.hero-btn {
    color: var(--white-color);
    background-color: var(--blue-color);
    font-family: 'Roboto', sans-serif;
}

/* Title color */

.features-list .title,
.features-title,
.about-title,
.team-title,
.team-list .title {
    color: var(--title-text-color);
}

/* Portfolio styles */

.btn-list .button {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.btn-list .button:hover,
.btn-list .button:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.img-list .title {
    color: var(--title-text-color);
}

.img-list .text {
    color: var(--primary-text-color);
}

/* Footer styles */

.logo-footer {
    color: var(--white-color);
}
.logo-footer:hover,
.logo-footer:focus {
    color: var(--primary-text-color);
}

.footer-address .link-address {
    color: var(--white-color)
}

.footer-address .link-address:hover {
    color: var(--blue-color);
}

.footer-address .link {
    color: rgba(255, 255, 255, 0.6);;
}

.footer-address .link:hover {
    color: var(--blue-color);
    ;
}

